@page
@model StardewValleyFishes.Pages.Fishes.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"    asp-for="SearchTerm"      />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    search
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Local</th>
            <th scope="col">Description</th>
            <th scope="col">Season</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fish in Model.Fishes)
        {
        <tr>
            <td>
                @fish.Name
            </td>
            <td>@fish.Local</td>
            <td>@fish.Description</td>
            <td>@fish.Season</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-fishId="@fish.Id">
                    Detail
                </a>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-fishId="@fish.Id">
                    Edit
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
